@media (max-width: 769px) {
    main::after {
        background: linear-gradient(-233deg, #100 20%, rgba(0, 0, 0, 0)65%)no-repeat;
        width: 100vw;
    }

    main .character .image {
        height: 100%;
    }

    main .character .content {
        top: 40px;
        left: 40px;
        padding: 30;
        
    }

    main .character .content .character-name {
        font-size: 48px;
        margin-bottom: 5px;
    }

    .content .description {
        max-width: 500px;
    }

    .buttons {
        flex-direction: row;
        align-items: flex-end;
        min-width: 100%;
        right: 0px;
        padding: 0;
        gap: 0;
        justify-content: space-evenly;
    }

    /*.buttons .button img {    }*/

}